

body {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    background-color: white;
    color: white;
}


/*parallax scrolling*/

body, html {
  height: 100%;
  margin: 0;
}

 .caption { 
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: left;
  margin-left: 50;
  color: #000;
  background-color: transparent;
}
.bg1, .bg2, .bg3, .bg4 {
  /* Full height */
  height: 100%; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg1{
  background-image: url(../image/background/bg-1.jpg);
  min-height: 100%;
  width: 100%;
}
.bg2{
  background-image: url(../image/background/bg-2.jpg);
  min-height: 400px;
  width: 100%;
}
.bg3{
  background-image: url(../image/background/bg-3.jpg);
  min-height: 400px;
  width: 100%;
}
.bg4{
  background-image: url(../image/background/bg-4.jpg);
  min-height: 400px;
  width: 100%;
}

/*parallax scrolling*/

.divider{
    color: #ff5e00;
    background-color:white;
    font-size:36px;
    margin-left: 150px;
}
.header{
    color: #ECF0F1;
    background-color:transparent;
    font-size:36px;
}
nav{
    display: flex;
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    background-color: #ff5e00;
    overflow: auto;
    height: auto;
    z-index: 9999;
 }
 .left-links{
    flex:1 1 200px;
 }
 .links {
    display: inline-block;
    text-align: center;
    padding: 30px 15px;
    color: white;
    text-decoration: none;
    font-size: 25px;
    font-weight: bolder;
 }

 .links:hover {
    border-bottom: 3px solid white;
    border-radius: 10px;
 }
 .selected{
    border-bottom: 3px solid white;
    border-radius: 10px;
 }

.logo {
    height: 100px;
    width: 100px; 
    padding-left: 50px;
}

.quote{
    font-size: 30px;
}

.intro {
    font-size: 6vw;
    font-weight: bold;
    font: roboto;
}
.getStarted {
    height: 60px;
    width: 200px;
    border-radius: 10px;
    border: 3px solid;
    background-color: transparent;
    font-size: 20px;
    position: relative;
    color: #ECF0F1;
    cursor: pointer;
    transition-property: background-color;
    transition-duration: 0.5s;
}

.getStarted:hover {
    background-color: #ff5e00;
    color: #ECF0F1;

}
/* product card */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  text-align: center;
  font-family: arial;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 20px;
  float: left;
}

.price {
  color: grey;
  font-size: 18px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #ff5e00;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}

.card h1{
    color: black;
    font-size: 22px;
}
.card_p{
    color: black;
}
hr.hr1 {
    border: 4;
    border-radius: 3;
    margin: auto;
}

form {
  margin-bottom: 50px;
}